<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>BabyRecorder</string>
  <key>CFBundleIdentifier</key>
  <string>com.yimingliu.BabyRecorder</string>
  <key>CFBundleName</key>
  <string>BabyRecorder</string>
  <key>CFBundleDisplayName</key>
  <string>Baby Recorder</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>zh-Hans</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>26.4.1</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Baby Recorder needs microphone access to capture the default microphone track.</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
